*{
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	width: 100vw;
	background: rgb(34,193,195);
  background: linear-gradient(4deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
	overflow: hidden;
}

.content {
	height: 500px;
	width: 350px;
	border: 1px solid #ddd;
	background-color: #efefef;
	opacity: .9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 20px rgba(255,255,255,0.7);
}

.content .title {
	font-size: 35px;
	color: rgb(193, 208, 93);
	font-weight: 600;
	margin-bottom: 20%;
}

.content input {
	width: 300px;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid #ddd;
	background-color: transparent;
	margin: 20px 0;
	font-size: 18px;
	outline: none;
}

.content input::placeholder{
	color: #090909;
}

.content .btn {
	width: 300px;
	height: 40px;
	border: 0;
	background: linear-gradient(200deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	margin-top: 5%;
  border-radius: 5px;
	color: #efefef;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.content .btn:hover{
	background: linear-gradient(-200deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	background-position-x:-300px;
}

.content span, .content a {
	text-decoration: none;
	margin-top: 30px;
}
.content a {
	color: rgba(34,193,195,.5);
	font-size: 20px;
	cursor: pointer;
	margin-left: 5px;
}

ul li {
	position: absolute;
	border: 1px solid rgb(228, 224, 224);
	background: rgb(34,193,195);
	background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	height: 30px;
	width: 30px;
	list-style: none;
	animation: square 10s linear infinite;
}

.square li {
	top: 60vh;
	left: 90vw;
}

.square li:nth-child(2) {
	top: 80vh;
	left: 10vw;
	animation-delay: 2s;
}

.square li:nth-child(3) {
	top: 40vh;
	left: 5vw;
	animation-delay: 4s;
}

.square li:nth-child(4) {
	top: 10vh;
	left: 70vw;
	animation-delay: 6s;
}

.square li:nth-child(5) {
	top: 15vh;
	left: 10vw;
	animation-delay: 7s;
}

.circle li {
	bottom: 0;
	animation: circle 10s linear infinite;
}

.circle li:nth-child(2) {

	left: 96vw;
	animation-delay: 2s;
}

.circle li:nth-child(3) {
	left: 20vw;
	animation-delay: 4s;
}

.circle li:nth-child(4) {
	left: 70vw;
	animation-delay: 6s;
}

.circle li:nth-child(5) {
	left: 20vw;
	animation-delay: 7s;
}

@keyframes square{
	0%{
		transform: scale(0) rotateY(0deg);
		opacity: 1;
	}
100%{
	transform: scale(5) rotateY(1000deg);
	opacity: 0;
}
}

@keyframes circle {
	0%{
		transform: scale(0) rotateY(0deg);
		opacity: 1;
		bottom: 0;
		border-radius:0 ;
	}
	100%{
		transform: scale(5) rotateY(1000deg);
		opacity: 0;
		bottom: 90vh;
		border-radius: 50%;
	}
}
